{
font-size:0.3em;
}
.modal-body p{
    color:#5c5b5b;
}
a{
color:black;
}
.or-container {
        display: flex;
        align-items: center;
        color: #b0aeae;
        margin: 25px 0;
    }

    .line-separator {
        background-color: #b0aeae;
        flex-grow: 1;
        height: 1px;
    }

    .or-label {
        flex-grow: 1;
        margin: 0 5px;
        text-align: center;
    }
    .btn {
        border-radius: 2px;
        text-transform: capitalize;
        padding: 10px 19px;
        cursor: pointer
    }
    .btn-google {
        color: #545454;
        background-color: #ffffff;
        box-shadow: 0 0 0 0 #b0aeae;
    }


@media (min-width: 1024px){
    .modal-body p {
        color: #5c5b5b;
    }


    .right-image{
        background-size: 100% 100%;
        background-repeat: no-repeat;
    }
}

