body{
    font-family: 'Poppins', sans-serif;
}
nav {

}
#home, p{
    color:#575555;
}
.main{
    margin:8% 5%;
}
h2{
    font-weight:500;
}

@media(min-width:1024px){
    a{
        font-size:1em;
    }
    #blog-app,img{
        font-weight:500;
        font-size:2em;
    }
    .main{
        margin:8% 10%;
    }

}