{% extends 'post/base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'post/css/create_blog_post.css' %}">
{% endblock %}



{% block main %}

<div class="d-flex flex-lg-row flex-sm-column w-100">
    <div class="px-5 w-lg-50 w-sm-100 flex-grow-1">
        <h3 class="text-center">Update the Blog Post</h3>
        <p class="text-center">Form to Update the Blog post</p>
        <br>
        <br>
        <form action="{% url 'post:edit-post' post.id %}" method="post" autocomplete="off" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }}
            {{ form|crispy }}
            <div class="d-flex flex-lg-row">
                <a class="w-50 mx-2" href=""><button class="btn btn-light border border-dark flex-fill w-100">Cancel</button></a>
            <button type="submit" class="btn btn-dark flex-fill w-50 mx-4">Update</button>
            </div>

        </form>
      </div>
        <div class="w-50 d-none d-lg-block bg-image" style="background-image: url('{% static "post/images/edit_post.jpg" %}');"></div>

</div>

{% endblock %}