{% extends 'post/base.html' %}
{% load static %}
{% block style %}
    <link rel="stylesheet" href="{% static 'post/home.css' %}">
{% endblock %}

{% block main %}
    <div>
      <center>
          <h2>Writing from our team</h2><br>
          <p>The Latest industry news,interviews, technologies and resources</p>
      </center>
    </div>
    <div>
        {% if not posts %}
        <h3>No posts</h3>
        {% else %}

            {% for post in posts|slice:":1" %}
                <a href="{% url 'post:post-detail-view' post.id %}">
                  <div id="first-post">
                      <img class="first" src="{{ post.image_post.url }}" alt="">
                      <div class="text-overlay">
                          <p>{% if not post.user.profile.full_name %}
                            {{ post.user.username }}
                            {% else %}
                            {{post.user.profile.full_name}}
                          {% endif %}&nbsp;&#x2022;&nbsp;{{ post.date_posted|date:"D d M Y" }}</p>
                          <h2>{{ post.title }}</h2>
                          <p>{{ post.sub_title }}</p>
                      </div>
                  </div>
                </a>
            {% endfor%}
        {% endif %}


        <div id="second-row">
            <div class="row gy-4">
                {% for post in posts|slice:"1:" %}
                <div class="col-xl-4 col-md-6">
                    <a href="{% url 'post:post-detail-view' post.id %}">
                        <div class="card mx-auto border-0">
                          <img src="{{ post.image_post.url }}" class="card-img-top" alt="..." style="object-fit:cover;width:100%;height:30vh;">
                          <div class="card-body">
                            <p>{% if not post.user.profile.full_name %}
                            {{ post.user.username }}
                            {% else %}
                            {{post.user.profile.full_name}}
                            {% endif %}&nbsp;&#x2022;&nbsp;{{ post.date_posted|date:"D d M Y" }}</p>
                            <h4 class="card-text">{{ post.title }}</h4>
                            <p class="card-text">{{ post.sub_title }}</p>
                          </div>
                        </div>
                    </a>
                </div>
                {% endfor%}

            </div>
        </div>

    </div>

    <!--    Pagination  -->
<!--    {{posts}}<br>-->
<!--has previous: {{ posts.has_previous}}<br>-->
<!--has next : {{ posts.has_next}}<br>-->
<!--current page :{{ posts.number }}<br>-->
<!--number of page :{{ posts.paginator.num_pages }}-->
{% if posts %}
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{ posts.previous_page_number }}">Previous</a></li>
        {% endif %}
    
        {% for num in posts.paginator.page_range %}
        {% if posts.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > posts.number|add:"-3" and num < posts.number|add:"3" %} <li class="page-item"><a class="page-link"
            href="?page={{ num }}">{{ num }}</a></li>
          {% endif%}
          {% endfor %}
    
          {% if posts.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ posts.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ posts.paginator.num_pages }}">Last</a></li>
          {% endif %}
    
    
      </ul>
    </nav>
{% endif %}




{% endblock %}

<!--footer file-->
    {% block footer %}
        {% include 'post/footer.html' %}
    {% endblock %}