{% load static %}
{% load crispy_forms_tags %}
<link rel="stylesheet" href="{% static 'post/css/newsletter.css' %}">

<div class="border text-center my-5 py-5 w-75 mx-auto news-content js-news-content">
    <h2 class="my-3">Still thinking about it?</h2>
    <p class="mb-4">Signup for our newsletter and be updated.</p>
    
    
    <form action="" id="subscribe-form" class="form" novalidate>
        <div class="d-flex justify-content-center w-50 my-3 mx-auto form-div">
            <input type="email" name="email" class="form-control mx-2" id="email-input" placeholder="Email Address">
            <button class="btn btn-dark mx-2" type="submit">Subscribe</button>
        </div>
        <div class="error-msg"></div>
    </form>
</div>

{% block script %}

    <script>
        const newsletterContainer = document.querySelector('.js-news-content')
        const subscribeForm = document.querySelector('#subscribe-form')
        const emailInput = document.querySelector('#email-input')
        const errMsg = document.querySelector('.error-msg')
        const csrftoken = document.querySelector("[name='csrfmiddlewaretoken']")
        let is_validate;

        function ValidateEmail(input) {
            var validRegex = /^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/;
            if (emailInput.value.match(validRegex)) {
                return true;
            } else {
                return false;

            }

        }

        emailInput.addEventListener('focus', () => {
            // Clear any previous error messages
            errMsg.textContent = '';
        });

        emailInput.addEventListener('blur', () => {
            // Validate the input when the user leaves the field
            is_validate = ValidateEmail(emailInput);
            console.log(is_validate);
            if (is_validate) {
                    errMsg.textContent = '';
                }
                else{
                    errMsg.textContent = "Enter valid email address";
                }

        });

        subscribeForm.addEventListener('submit', (event)=>{
            event.preventDefault();
            if(ValidateEmail()){
                // submit the form
                fetch('/subscriber/', {
                    method:'POST',
                    headers: {
                        'Content-Type': 'application/json;charset=utf-8',
                        'X-CSRFToken': csrftoken.value,
                    },
                    body: JSON.stringify({
                        'email': emailInput.value
                    })
                })
                .then(response =>{
                    if(!response.ok){
                        throw new Error("Server Error")
                    }
                    return response.json()
                })
                .then(data =>{
                    if(data['success']){
                        if(!data['exists']){
                            // message for new user
                            newsletterContainer.innerHTML = `
                                <img src="{% static 'newsletter/images/icons8-success-200.png' %}" alt="">
                                <h2 class="my-3">Thank You for Subscribing!</h2>
                                <p class="mb-4">You have successfully subscribed to the list.
                                    Now you'll get mail when new blogs are posted.</p>
                                
                                `;
                        } else {
                            // message for already a subscriber
                            newsletterContainer.innerHTML = `
                                <h2 class="my-3">You're already a Subscriber</h2>
                                <p class="mb-4">Check your mails for recent updates.</p>
                                
                                `;
                        }
                        
                    } else {
                        // server error message
                        newsletterContainer.innerHTML = `
                            <img src="{% static 'newsletter/images/warning (1).png' %}" alt="">
                                <h2 class="my-3">Server Error</h2>
                                <p class="mb-4">Something went wrong.Try again later</p>
                                `;
                    }
                    console.log(data)
                })
                .catch(error =>{
                    console.log('error:',error);
                    
                })
            }
        });


        
    </script>

{% endblock %}