{% load static %}
<link rel="stylesheet" href="{% static 'post/newsletter.css' %}">

<div class="border text-center my-5 py-5 w-75 mx-auto news-content">
    <h2 class="my-3">Still thinking about it?</h2>
    <p class="mb-4">Signup for our newsletter and be updated.</p>
    <div class="d-flex justify-content-center w-50 my-3 mx-auto">
        <input type="email" class="form-control mx-2" id="" placeholder="Email Address">
        <button class="btn btn-dark mx-2">Subscribe</button>
    </div>

</div>