{% extends 'post/base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
    <link rel="stylesheet" href="{% static 'post/css/post_detail_view.css' %}">

{% endblock %}

{% block main %}
<div class="">
    <h1 class="text-center mx-4 mb-4">{{ post.title }}</h1>
    <p class="text-center mx-2 sub-title">{{ post.sub_title }}</p>
    <div class="text-center mt-3 d-flex flex-row justify-content-center align-items-center">
        <div class="mx-2 align-items-center">
            <img src="{{ post.user.profile.profile_image.url }}" style="height: 55px; width: 55px; border-radius: 50%;">
        </div>
        <div class=" d-flex flex-column justify-content-center mx-2">
           <h6 class="text-start">{% if not post.user.profile.full_name %}
                {{ post.user.username }}
                {% else %}
                {{post.user.profile.full_name}}
                {% endif %}
            </h6>
            <p class="sub-title text-start">{{ post.date_posted|date:"D d M Y" }}</p>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        {% if request.user == post.user %}
            <div class="d-flex justify-content-center my-3">
                <a class="text-center mx-4 text-decoration-none text-secondary" href="{% url 'post:edit-post' post_id=post.id %}">Edit</a>
                <a class="text-center text-decoration-none text-secondary" href="{% url 'post:delete-post' post_id=post.id %}" onclick="confirmDelete()">Delete</a>
            </div>
        {% endif %}
    {% endif %}

    <div id="img-container" class="mt-2">
        <img class="text-center" src="{{ post.image_post.url }}" alt="" style="object-fit: contain;width:100%;height:auto;">
    </div>
    <div class="post-content">
        {{ post.description|safe|linebreaksbr }}
    </div>
    <hr>
    <div class="d-flex flex-row w-75 mx-auto">
        <div class="d-flex justify-content-start align-items-center w-50">
            <!-- Like Unlike button -->
            {% if user.is_authenticated %}
            <form action="" id="like-unlike-form" data-post-id="{{post.id}}">
                {% csrf_token %}
                {% if user_liked %}
                <button type="submit" id="like-btn" data-like-status="liked" style="border: none;background-color: inherit;color:grey;">
                    <i class="fa-solid fa-thumbs-up fa-xl" id="like-icon"></i>
                </button>
                
                {% else %}
                <button type="submit" id="like-btn" data-like-status="not-liked" style="border: none;background-color: inherit;color:grey;">
                    <i class="fa-regular fa-thumbs-up fa-xl" id="like-icon"></i>
                </button>
                
                {% endif %}
            </form>
            {% else %}
            <button type="submit" id="like-btn" data-like-status="not-liked" style="border: none;background-color: inherit;color:grey;cursor: default;">
                <i class="fa-regular fa-thumbs-up fa-xl" id="like-icon"></i>
            </button>
            {% endif %}
            <!-- Like Unlike button ends here-->
            
            <p id="likesCount" class="my-1 fs-5" style="color:grey; padding-left:8px;">{{ num_of_likes }}</p> &nbsp;&nbsp;

            <span style="color:grey">&#9679;</span>&nbsp;&nbsp;

            <a href="{% url 'post:comment-post' post.id %}" class="text-decoration-none" style="color:grey">
                <i class="fa-regular fa-comment fa-xl"></i>
            </a>
            <p class="my-1 fs-5" style="color:grey; padding-left:8px;">{{ num_of_comments }}</p>

        </div>

        <div class="d-flex flex-row justify-content-end w-50">
            <button class="btn btn-light border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-twitter fa-xl icon"></i>
              </a>
            </button>
            <button class="btn border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-facebook fa-xl icon"></i>
              </a>
            </button>
            <button class="btn btn-light border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-linkedin fa-xl icon"></i>
              </a>
            </button>

        </div>
    </div>
    <br><br><br>
    <!--Display Comment-->
    <div class="w-75 mx-auto">
        <p class="fs-4">Comments({{ num_of_comments }})</p>
        <br><br>
        <div class="all-comments"></div>
        <button id="show-more-btn" class="show-btn">Show more</button>
        <!-- btn btn-dark w-100 mt-3 mb-4  -->
        <p id="no-comments-msg"></p>

    </div>
</div>


{% endblock %}

<!--newsletter block-->
    {% block newsletter %}
        {% include 'post/newsletter.html' %}
    {% endblock %}

<!--footer file-->
    {% block footer %}
        {% include 'post/footer.html' %}
    {% endblock %}

<form id="delete-form" method="post" action="{% url 'delete_post' post.id %}">
    {% csrf_token %}
    <!-- Add any additional form fields here, if needed -->
    <button type="button" onclick="confirmDelete()">Delete</button>
</form>

<!--js script-->
{% block script %}


<script type="module">
    import * as dateFns from 'https://cdn.jsdelivr.net/npm/date-fns@2.30.0/+esm';

    // get todays date UTC for dateFns formatDistanceNow
    const today = new Date();
    const currentYear = today.getUTCFullYear();
    const month = today.getUTCMonth() + 1;
    const day = today.getUTCDate();
    const hours = today.getUTCHours();
    const minutes = today.getUTCMinutes();
    const seconds = today.getUTCSeconds();
    
    
    const likeForm = document.getElementById('like-unlike-form');
    const likeBtn = document.querySelector('#like-btn');
    const likeIcon = document.querySelector('#like-icon');
    const likeCount = document.querySelector('#likesCount');
    const likeStatus = likeBtn.dataset.likeStatus;
    const csrftoken = document.querySelector("[name='csrfmiddlewaretoken']")

    const postId = parseInt(likeForm.dataset.postId);

    // show more btn
    const allCommentsContainer = document.querySelector('.all-comments');
    const showMoreBtn = document.querySelector('#show-more-btn');
    const noCommentsMsg = document.querySelector('#no-comments-msg');
    let visible = 2;

    // like button event
    if (likeForm) {
        likeForm.addEventListener('submit', (event) => {
            event.preventDefault();
            console.log('post id:', postId);

            fetch(`/view/${postId}/like/`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json;charset=utf-8',
                    'X-CSRFToken': csrftoken.value,
                },
                body: JSON.stringify({
                    'post_id': postId
                })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`Something went wrong on server.`)
                }
                return response.json()
            })
            .then(response_data => {
                if (response_data['success']) {
                    if (response_data['created']) {
                        likeIcon.classList.add('fa-solid');
                        likeIcon.classList.remove('fa-regular');
                        likeCount.innerHTML = response_data['num_likes']
                    } else {
                        likeIcon.classList.add('fa-regular');
                        likeIcon.classList.remove('fa-solid');
                        likeCount.innerHTML = response_data['num_likes']
                    }
                }
                console.log(response_data);

            })
            .catch(error => {
                console.log('error:', error);

            })
        })
    }
    
    // Show more Comments 
    const getCommentRequest = (visible) => {
        fetch(`/view/${postId}/get-more-comments/?num_of_posts=${visible}`, {
            method: 'GET'
        })
        .then(response => {
            if (!response.ok) {
                throw new Error(`Something went wrong on server.`)
            }
            return response.json()
        })
        .then(data => {
            const comments = data['all_comments'];
            if (comments.length === 0){
                allCommentsContainer.innerHTML = 'No Comments for this posts'
            }

            comments.forEach((comment) => {
                const postedDate = new Date(comment.date)
                const postedYear = postedDate.getFullYear();
                const postedmonth = postedDate.getMonth() + 1; 
                const postedday = postedDate.getDate();
                const postedhours = postedDate.getHours();
                const postedminutes = postedDate.getMinutes();
                const postedseconds = postedDate.getSeconds();

                const postedDateFromNow = 
                    dateFns.formatDistance(
                        new Date(currentYear, month, day, hours, minutes, seconds),
                        new Date(postedYear, postedmonth, postedday, postedhours, postedminutes, postedseconds),
                        { addSuffix: false }
                    );
            
                allCommentsContainer.innerHTML += `
                <div class="d-flex flex-row my-2" id="comment-section">
                    <div class="d-flex mx-auto px-2">
                    <img src="${comment.user_profile}" alt="profile-image" style="height: 40px; width: 40px; border-radius: 50%;">
                    </div>
                    <div class="d-flex flex-column px-2 flex-grow-1">
                        <h6>${comment.user}
                            <span style="color:grey;font-size: 14px;font-weight:400;padding-left: 15px;">
                                ${postedDateFromNow}
                            </span>
                        </h6>
                    <p class="mt-2" style="font-weight: 400;">${comment.comment}</p>
                </div>
            </div>`;
            })

            if(data['any_comments_left']){
                noCommentsMsg.innerHTML = 'No more Comments';
                showMoreBtn.classList.add('invisible');
            }

        })
        .catch(error => {
            console.log('error:', error);

        })
    } 

    // display 2 comments when page loaded
    getCommentRequest(visible);

    // on click event to show more button
    showMoreBtn.addEventListener('click',()=>{
        visible += 2;
        getCommentRequest(visible);
    });

    // Show more Comments Ends

    function confirmDelete() {
        var result = confirm("Are you sure you want to delete this post?");
        if (result) {
            // If the user clicks "OK", submit the form
            document.getElementById("delete-form").submit();
        }
    }
</script>
    

{% endblock %}