{% extends 'post/base.html' %}
{% load static %}
{% load humanize %}
{% block style %}
    <link rel="stylesheet" href="{% static 'post/post_detail_view.css' %}">
{% endblock %}

{% block main %}
<div class="">
    <h1 class="text-center mx-4 mb-4">{{ post.title }}</h1>
    <p class="text-center mx-2 sub-title">{{ post.sub_title }}</p>
    <div class="text-center mt-3 d-flex flex-row justify-content-center align-items-center">
        <div class="mx-2 align-items-center">
            <img src="{{ post.user.profile.profile_image.url }}" style="height: 55px; width: 55px; border-radius: 50%;">
        </div>
        <div class=" d-flex flex-column justify-content-center mx-2">
           <h6 class="text-start">{% if not post.user.profile.full_name %}
        {{ post.user.username }}
        {% else %}
        {{post.user.profile.full_name}}
        {% endif %}</h6>
            <p class="sub-title text-start">{{ post.date_posted|date:"D d M Y" }}</p>
        </div>
    </div>

    {% if request.user.is_authenticated %}
        {% if request.user == post.user %}
            <div class="d-flex justify-content-center my-3">
                <a class="text-center mx-4 text-decoration-none text-secondary" href="{% url 'post:edit-post' post_id=post.id %}">Edit</a>
                <a class="text-center text-decoration-none text-secondary" href="{% url 'post:delete-post' post_id=post.id %}" onclick="confirmDelete()">Delete</a>
            </div>
        {% endif %}
    {% endif %}

    <div id="img-container" class="mt-2">
        <img class="text-center" src="{{ post.image_post.url }}" alt="" style="object-fit: contain;width:100%;height:auto;">
    </div>
    <div class="post-content">
        {{ post.description|safe|linebreaksbr }}
    </div>
    <hr>
    <div class="d-flex flex-row w-75 mx-auto">
        <div class="d-flex justify-content-start w-50">
           
            <a id="like-icon" data-post-id="{{post.id}}" href="" class="text-decoration-none" style="color:grey">
                <i id ="like-i" class="fa-regular fa-thumbs-up fa-xl"></i>
            </a>
           
            
            <p id="likesCount" style="color:grey; padding-left:5px;">{{ num_of_likes }}</p> &nbsp;&nbsp;

            <span style="color:grey">&#9679;</span>&nbsp;&nbsp;

            <a href="{% url 'post:comment-post' post.id %}" class="text-decoration-none" style="color:grey">
                <i class="fa-regular fa-comment fa-xl"></i>
            </a>
            <p style="color:grey; padding-left:5px;">{{ num_of_comments }}</p>

        </div>

        <div class="d-flex flex-row justify-content-end w-50">
            <button class="btn btn-light border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-twitter fa-xl icon"></i>
              </a>
            </button>
            <button class="btn border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-facebook fa-xl icon"></i>
              </a>
            </button>
            <button class="btn btn-light border rounded mx-1">
                <a href="#">
                <i class="fa-brands fa-linkedin fa-xl icon"></i>
              </a>
            </button>

        </div>
    </div>
    <br><br><br>
    <!--Display Comment-->
    <div class="w-75 mx-auto">
        <p class="fs-4">Comments({{ count_of_posts }})</p>
        <br><br>
        {% if comments %}
        {% for comment in comments %}
        <div class="d-flex flex-row my-2">
            <div class="d-flex mx-auto px-2">
                <img src="{{ comment.user_comment.profile.profile_image.url }}" style="height: 40px; width: 40px; border-radius: 50%;">
            </div>
            <div class="d-flex flex-column px-2 flex-grow-1">
                {% if comment.user_comment.first_name %}
                    <h6>{{ comment.user_comment.first_name|add:comment.user_comment.last_name }}</h6>
                {% else %}
                    <h6>{{ comment.user_comment.username|capfirst }}</h6>
                {% endif %}
                <small style="color:grey">{{ comment.date_added|naturaltime }}</small>
                <p class="fs-6 mt-2">{{ comment.comment }}</p>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h2>No Comments yet</h2>
        {% endif%}
    </div>







</div>


{% endblock %}

<!--newsletter block-->
    {% block newsletter %}
        {% include 'post/newsletter.html' %}
    {% endblock %}

<!--footer file-->
    {% block footer %}
        {% include 'post/footer.html' %}
    {% endblock %}

<form id="delete-form" method="post" action="{% url 'delete_post' post.id %}">
    {% csrf_token %}
    <!-- Add any additional form fields here, if needed -->
    <button type="button" onclick="confirmDelete()">Delete</button>
</form>

<!--js script-->
{% block script %}
<script>
    likesCount = document.querySelector('#likesCount');
    likeI = document.querySelector('#like-i');

    function confirmDelete() {
            var result = confirm("Are you sure you want to delete this post?");
            if (result) {
                // If the user clicks "OK", submit the form
                document.getElementById("delete-form").submit();
            }
        }

    likeIcon = document.getElementById('like-icon');
    likeIcon.addEventListener("click", (event)=>{
        event.preventDefault();
        console.log('clicked');
        const postId = likeIcon.dataset.postId;
        const data = {'post_id':`${postId}`}
        

        fetch(`/view/${postId}/like`, {
            method:'POST',
            body: new URLSearchParams(data),
            headers:{
                'Content-type': 'application/x-www-form-urlencoded; charset=UTF-8'
            }

        })
        .then(response => {
            if (!response.ok){
                throw new Error(`Error on Server - ${response['message']}`);
            }
            return response.json();
        })
        .then(data => {
            console.log('response_data:',data);
            if(data['success']){
                likesCount.innerHTML = data['num_likes']
                likeI.classList.remove('fa-regular')
                likeI.classList.add('fa-solid')
            }
            
        })
        .catch(error =>{
            console.log('Error: ',error);
            
        })
    });
</script>
    

{% endblock %}