p{
    color:grey;
}
.news-content{
    background-color:#f2f2f2;
    border-radius:15px;

}

.form{
    position: relative;
}
.error-msg{
    color: red;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

