
a{
    text-decoration:none;
    color: black;
}

#first-post img{
    width:100%;
    height:50vh;
    object-fit:cover;
}

#overlay-text{
    text-align:center;
}
.card{
    width:18rem;
}
.pagination li{
margin:0;
}
.pagination .page-link{
    color:black;
    background-color: white;
}
.pagination .page-link:hover {
  background-color: black;
  color: white;
}

.pagination .page-item.active .page-link {
  background-color: black;
  color:white;
}

@media(min-width:1024px){

    #first-post{
        width:100%;
        height:50vh;
        position:relative;
        margin-bottom:2%;

    }
    .text-overlay {
      position: absolute;
      bottom: 25px;
      left: 35px;
      color: white;
      font-size: 20px;
    }
    .text-overlay p{
        color:white;
    }
    #second-row{
        margin:5% 0;
    }
    .card{
        width:20rem;
    }





}